$main-text-color: #1e2e36;
$promotion-color: #ff1b1b;
$old-price: #BCBDBB;
$accent-color: #44c697;
$white-color: #ffffff;
$timing-function: cubic-bezier(0.4, 0, 0.2, 1);
$main-font: "Roboto";
$logo-font: "Cuprum";